<div class="d-flex mt-3">
  <div style="width: 500px" class="me-5">
    <%= render 'layouts/filetree', tree: manuscript_family_tree(@booklet.manuscript) %>
  </div>
  <div>
    <h1><%= @booklet.display_name %></h1>
    <%= render "form", booklet: @booklet %>
  </div>
</div>
