<div class="breadcrumbs">
  <%= link_to "Home", root_path %>
  <i class="far fa-chevron-right"></i>
  Booklets
</div>

<h1>Booklets <%= button_to 'New Booklet', booklets_path, class: "btn btn-action", params: { booklet: { booklet_no: "1" } } %></h1>

<div id="booklets">
    <%= render 'grid', booklets: @booklets %>
</div>
