<h1>Editing apocrypha</h1>

<%= render "form", apocrypha: @apocrypha %>

<br>

<div>
  <%= link_to "Show this apocrypha", @apocrypha %> |
  <%= link_to "Back to apocryphas", apocryphas_path %>
</div>
