<p style="color: green"><%= notice %></p>

<h1>Apocryphas</h1>

<div id="apocryphas">
  <% @apocryphas.each do |apocrypha| %>
    <%= render apocrypha %>
    <p>
      <%= link_to "Show this apocrypha", apocrypha %>
    </p>
  <% end %>
</div>

<%= link_to "New apocrypha", new_apocrypha_path %>
