<div class="breadcrumbs">
  <%= link_to "Home", root_path %>
  <i class="far fa-chevron-right"></i>
  Institutions
</div>

<h1>Institutions</h1>
<!-- <p><%= link_to "New institution", new_institution_path, class: "btn btn-outline-success" %></p> -->

<div id="institutions">
    <%= render 'grid', institutions: @institutions %>
</div>
