<div class="d-flex mt-3">
  <div style="width: 500px" class="me-5">
    <%= render 'layouts/filetree', tree: manuscript_family_tree(@content.booklet.manuscript) %>
  </div>
  <div>
    <h1>Content</h1>
    <%= render "form", content: @content %>
  </div>
</div>
