<h1>Editing writing system</h1>

<%= render "form", writing_system: @writing_system %>

<br>

<div>
  <%= link_to "Show this writing system", @writing_system %> |
  <%= link_to "Back to writing systems", writing_systems_path %>
</div>
