<div class="breadcrumbs">
  <%= link_to "Home", root_path %>
  <i class="far fa-chevron-right"></i>
  People
</div>

<h1>People<button type="button" class="btn btn-action" style="margin-top: 0" data-bs-toggle="modal" data-bs-target="#person-modal">New person</button></h1>

<div id="people">
    <%= render 'grid', people: @people %>
</div>

<%= render 'people/modals/form', person: Person.new, parent: nil, pid: '', depth: 0 %>