<h1>Editing apocryphon</h1>

<%= render "form", apocryphon: @apocryphon %>

<br>

<div>
  <%= link_to "Show this apocryphon", @apocryphon %> |
  <%= link_to "Back to apocrypha", apocrypha_path %>
</div>
