<div class="breadcrumbs">
  <%= link_to "Home", root_path %>
  <i class="far fa-chevron-right"></i>
  <%= link_to 'Apocrypha', apocrypha_path %>
  <i class="far fa-chevron-right"></i>
  <%= @apocryphon.display_name %>
</div>

<div>
  <h1>Apocryphon</h1>
  <%= render "form", apocryphon: @apocryphon %>
</div>
