<h1>Editing modern source reference</h1>

<%= render "form", modern_source_reference: @modern_source_reference %>

<br>

<div>
  <%= link_to "Show this modern source reference", @modern_source_reference %> |
  <%= link_to "Back to modern source references", modern_source_references_path %>
</div>
