<h1>New modern source reference</h1>

<%= render "form", modern_source_reference: @modern_source_reference %>

<br>

<div>
  <%= link_to "Back to modern source references", modern_source_references_path %>
</div>
