<h1>Editing religious order</h1>

<%= render "form", religious_order: @religious_order %>

<br>

<div>
  <%= link_to "Show this religious order", @religious_order %> |
  <%= link_to "Back to religious orders", religious_orders_path %>
</div>
