<div class="breadcrumbs">
  <%= link_to "Home", root_path %>
  <i class="far fa-chevron-right"></i>
  Religious orders
</div>

<h1>Religious orders</h1>
<!-- <p><%= link_to "New religious order", new_religious_order_path, class: "btn btn-outline-success" %></p> -->

<div id="religious_orders">
    <%= render 'grid', religious_orders: @religious_orders %>
</div>
