<h1>Religious orders</h1>
<p><%= link_to "New religious order", new_religious_order_path, class: "btn btn-outline-success" %></p>

<div id="religious_orders">
    <%= render 'grid', religious_orders: @religious_orders %>
</div>
