<div class="modal" id="manuscript-modal-religious_order" tabindex="-1" aria-hidden="true">
	<%= form_with(model: manuscript) do |form| %>
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Change religious order</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<label class="mt-3 fw-bolder">Religious order</label>
				<%= form.collection_select :genesis_religious_order_id, ReligiousOrder.all, :id, :display_name, {include_blank: true}, {class: "form-control", placeholder: "Select religious order"} %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-action disable-on-click" onclick="saveModal('manuscript', 'religious_order')">Save & Close</button>
			</div>
		</div>
	</div>
	<% end %>
</div>

<script type="text/javascript">
	$(function() {
		new TomSelect("#manuscript-modal-religious_order #manuscript_genesis_religious_order_id", ts_sort_text_asc_max_1);;
	})
</script>
