<h1>Editing provenance</h1>

<%= render "form", provenance: @provenance %>

<br>

<div>
  <%= link_to "Show this provenance", @provenance %> |
  <%= link_to "Back to provenances", provenances_path %>
</div>
