<p style="color: green"><%= notice %></p>

<h1>Provenances</h1>

<div id="provenances">
  <% @provenances.each do |provenance| %>
    <%= render provenance %>
    <p>
      <%= link_to "Show this provenance", provenance %>
    </p>
  <% end %>
</div>

<%= link_to "New provenance", new_provenance_path %>
