<div class="breadcrumbs">
  <%= link_to "Research", research_path %>
  <i class="far fa-chevron-right"></i>
  Apocrypha in manuscripts
</div>
<h1>Apocrypha in manuscripts</h1>
<div id="sections">
    <%= render 'grid', sections: @sections %>
</div>
