<%= form_with(model: title, class: "autosave block-submit", id: "title_pre_form") do |form| %>

<div class="row">
	<label class="">Language and Title</label>
	<language-form-groups
		class="my-3"
		key="title"
		record_type="title"
		name="Title"
		language_column="language_id"
		orig="title_orig"
		translit="title_orig_transliteration"
		eng="title_translation"
	></language-form-groups>
</div>
<div class="row"></div>
<%= render 'layouts/save_now', form: form %>
<% end %>
<script type="text/javascript">
	var institutution_modal_vue;
	$( document ).ready(function() {
		institutution_vue = new Vue({
			el: "#title_pre_form",
			name: "title_pre_form",
			data: function() {
				return {
				}
			},
		});
	});
</script>
<%= render "layouts/vue_language_form_group" %>
