<div id="<%= dom_id text_url %>">
  <p>
    <strong>Type:</strong>
    <%= text_url.type %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= text_url.text_id %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= text_url.url %>
  </p>

</div>
