<div class="breadcrumbs">
  <%= link_to "Home", editor_menu_path %>
  <i class="far fa-chevron-right"></i>
  <%= link_to 'Booklists', booklists_path %>
  <i class="far fa-chevron-right"></i>
  <%= @booklist.display_name %>
</div>

<div>
  <h1>Booklist</h1>
  <%= render "form", booklist: @booklist %>
</div>