<h1>Editing booklist reference</h1>

<%= render "form", booklist_reference: @booklist_reference %>

<br>

<div>
  <%= link_to "Show this booklist reference", @booklist_reference %> |
  <%= link_to "Back to booklist references", booklist_references_path %>
</div>
