/*
 *= require_tree .
 *= require_self
 */

// ----------- defaults -----------

:root {
  --orange: #9F492D;
  --faded-orange: #9F492D15;
}

body,h1,h2,h3,h4,h5,h6,p,a,span,div{
  font-family: Inter;
}

td.actions{
  a, form{
    display: inline-block;
  }
}

h1 {
  border-bottom: 3px solid #000;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  font-size: 26px;
}

h2 {
  border-bottom: 1px solid #000;
  margin: 1.5rem 0;
  padding-bottom: 1rem;
  font-size: 20px;
}

textarea {
  resize: none;
}

body {
  background-color: #F9F9F9;
}

// -------------- bootstrap edits -----------

.nav-link.active {
  background-color: var(--faded-orange) !important;
  border-radius: 8px;
}

.navbar-brand {
  font-weight: 500;
}

// -------------- custom classes -----------

h2{
  .btn-action{
    float: right;
    margin-top: -6px;
  }
}

.card-link{
  color: var(--orange);
  &:hover{
    color: var(--orange);
    font-weight: 500;
  }
}

.grey-bubble{
  background: rgba(245,245,245,0.4);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 30px;
  margin: 12px;
  p{
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  .strong{
    font-family: Inter;
    font-weight: 700;
  }
}

.btn-action{
  background: var(--orange);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: white;
  font-size: 16px;
  line-height: 21px;
  &:hover{
    background: white;
    border-color: var(--orange);
    color: var(--orange);
  }
}

.btn-outline-action{
  color: var(--orange);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--orange);
  border-radius: 4px;
  background: white;
  font-size: 16px;
  line-height: 21px;
  &:hover{
    color: white;
    background: var(--orange);
  }
}


.breadcrumbs{
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  a {
    color: var(--orange);
  }
}

#filetree {
  border: none;
  .file {
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }
  .file, .file a {
    color: black;
  }
  .file.active {
    background-color: var(--faded-orange);
  }
}

.pointer {
  cursor: pointer;
}

.user-icon {
  width: calc(56px - 0.5rem - 10px);
  height: calc(56px - 0.5rem - 10px);
  background-color: var(--orange);
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: calc((56px - 0.5rem - 10px)/2);
  padding: calc((56px - 0.5rem - 10px)/8);
}
