/*
 *= require_tree .
 *= require_self
 */

// ----------- defaults -----------

:root {
  --orange: #9F492D;
  --faded-orange: #9F492D15;
  --background-grey: #F9F9F9;
  --modal-background: #EBEBEB;
}

body,h1,h2,h3,h4,h5,h6,p,a,span,div{
  font-family: Inter;
}

td.actions{
  a, form{
    display: inline-block;
  }
}

h1 {
  border-bottom: 3px solid #000;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  font-size: 26px;
}

h2 {
  border-bottom: 1px solid #000;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
  padding-bottom: 1rem;
  font-size: 20px;
}

textarea {
  resize: none;
}

body {
  background-color: var(--background-grey);
}

// -------------- colors -----------

.orange {
  color: var(--orange);
}

.bg-orange {
  background-color: var(--orange);
}

// -------------- bootstrap edits -----------

.nav-link.active {
  background-color: var(--faded-orange) !important;
  border-radius: 8px;
}

.navbar-brand {
  font-weight: 500;
}

.btn {
  white-space: nowrap;
}

.modal {
  .modal-content {
    border-radius: 12px;
  }
  .modal-footer {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    .btn {
      height: 50px;
    }
  }
  .modal-header {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
    height: 82px;
  }
  .modal-body{
    padding: 40px 30px;
    background-color: var(--modal-background);
  }
}

// -------------- custom classes -----------

h2 .btn-action{
  float: right;
  margin-top: -5px;
  min-width: 150px;
}
h1 .btn-action{
  float: right;
  margin-top: -8px;
  min-width: 150px;
}
h2 form .btn-action {
  margin-top: -33px;
}

.card-link{
  color: var(--orange);
  &:hover{
    color: var(--orange);
    font-weight: 500;
  }
}

button.card-link {
background: none;
border: none;
padding: 0;
text-decoration: underline;
}

.link-action{
  color: var(--orange);
  &:hover{
    color: var(--orange);
    text-decoration: none;
  }
}

.sideway-title{
  transform: rotate(-90deg);
  transform-origin: bottom right;
  font-weight: bold;
}

.grey-bubble{
  background: rgba(245,245,245,0.4);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 30px;
  margin: 12px;
  p{
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  .strong{
    font-family: Inter;
    font-weight: 700;
  }
}
.card.grey{
  background-color: rgba(245,245,245,0.4);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.btn-action{
  background: var(--orange);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: white;
  font-size: 16px;
  line-height: 21px;
  &:hover{
    background: white;
    border-color: var(--orange);
    color: var(--orange);
  }
}

.btn-outline-action{
  color: var(--orange);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--orange);
  border-radius: 4px;
  background: white;
  font-size: 16px;
  line-height: 21px;
  &:hover{
    color: white;
    background: var(--orange);
  }
}


.breadcrumbs{
  min-height: 42px;
  line-height: 32px;
  font-size: 16px;
  position: sticky;
  background-color: var(--background-grey);
  width: 100%;
  z-index: 100;
  padding: 5px 0;
  top: 0;
  a {
    color: var(--orange);
  }
}

#filetree {
  border: none;
  .file {
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }
  .file, .file a {
    color: black;
  }
  .file.active {
    background-color: var(--faded-orange);
  }
}

.pointer {
  cursor: pointer;
}

.grab {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.user-icon {
  width: calc(56px - 0.5rem - 10px);
  height: calc(56px - 0.5rem - 10px);
  background-color: var(--orange);
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: calc((56px - 0.5rem - 10px)/2);
  padding: calc((56px - 0.5rem - 10px)/8);
}

.title-card{
  background: rgba(245, 245, 245, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 0 5px;
}

.ts-wrapper:not(.form-select).multi .ts-control {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
  background-position: right .75rem center;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  padding-right: 2rem;
}
