<div id="<%= dom_id person_reference %>">
  <p>
    <strong>Record:</strong>
    <%= person_reference.record_id %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= person_reference.person_id %>
  </p>

</div>
