<div id="<%= dom_id language_reference %>">
  <p>
    <strong>Record:</strong>
    <%= language_reference.record_id %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= language_reference.language_id %>
  </p>

</div>
