<h1>Editing language reference</h1>

<%= render "form", language_reference: @language_reference %>

<br>

<div>
  <%= link_to "Show this language reference", @language_reference %> |
  <%= link_to "Back to language references", language_references_path %>
</div>
