<div class="container-fluid text-center" id="header" style="background: var(--blue)">
	<%= image_tag("floral-blue-grey.png", class: "h-100", id: "floral", alt: "Floral", style: "margin-top: 20px") %>
	<div class="row">
		<div class="col">
			<%= image_tag("Apocrypharius-A.png", height: 150, alt: "Apocrypharius letter A" ) %>
			<h2 class="title">site for research on manuscripts of<br>Christian apocrypha and parabiblica</h2>
		</div>
	</div>
</div>
<div class="w-100 bg-grey">
	<div class="container pt-5">
		<h1 class="static-page text-center">Welcome to Apocrypharius</h1>
		<div class="row">
			<div class="col-6 px-5">
				<p>This website is dedicated to the study of manuscripts that preserve Christian apocrypha and parabiblica, that is, anonymous or pseudoepigraphic texts which foreground personages and events associated with Christian origins in the widest sense of the phrase, and which have enjoyed a degree of authority in Christian communities. The information assembled here is meant to facilitate:</p>
				<ul>
					<li>finding, comparing, and analyzing the makeup of manuscripts that contain apocryphal/parabiblical literature;</li>
					<li>identifying textual signposts of apocrypha/parabiblica, such as their manuscript titles, incipits, explicits, and colophons; and</li>
					<li>locating references to manuscripts of apocrypha/parabiblica and their owners in ancient, medieval and early modern booklists (library catalogues, wills, donations, etc.)</li>
				</ul>
				<p class=" text-center">
					<%= image_tag("Dormition.jpg", class: "mt-5") %>
				</p>
			</div>
			<div class="col-6 px-5">
				<%= image_tag("image-mary.png", class: "mw-100") %>
				<p class="mt-5">Such information may be useful for</p>
				<ul>
					<li>establishing textual families of manuscripts;</li>
					<li>selecting manuscripts for closer examination and potential editions;</li>
					<li>discovering temporal and geographical patterns of an apocryphon's transmission or dissemination;</li>
					<li>assessing availability of apocrypha in certain regions or locations; and</li>
					<li>researching many other aspects of such texts' history and cultural influence.</li>
				</ul>
				<p>In order to present as full a picture as possible of their extensive and often complicated past, the website surveys not only manuscripts that still exist but - as far as possible - also those that have been lost or destroyed and those whose existence is known only from written sources.</p>
				<p>The data is presented in a series of highly flexible grids, not unlike the tables familiar from spreadsheet programs, with columns easy to add or remove, sort, and filter. This flexibility will allow users to locate even complex combinations of data quickly and efficiently. The website also provides a full, continuous description of each manuscript, accessible through a link embedded in the grid.</p>
			</div>
		</div>
		<div class="row">
			<div class="col my-5 text-center"> 
				<p><strong>All inquiries, comments, and offers of collaboration are welcome!</strong></p>
			</div>
		</div>
	</div>
</div>
