<div class="w-100 bg-grey">
	<div class="row g-0">
		<div class="col col-md-6 p-5">
			<h1 class="static-page">Send us a message</h1>
			<p>Have a question? We'd be happy to help.</p>
			<p>We always look forward to your suggestions for new ideas and improvements to Apocrypharius. Please let us know what we can do to help.</p>
		</div>
		<div class="col col-md-6 p-5">
			<%= render 'mailers/feedback' %>
		</div>
	</div>
</div>