<div class="container-fluid text-center bg-orange" id="header">
	<%= image_tag("floral-red-grey.png", class: "h-100", id: "floral", alt: "Floral" ) %>
	<div class="row">
		<div class="col">
			<%= image_tag("Apocrypharius-A.png", height: 150, alt: "Apocrypharius letter A" ) %>
			<h2 class="title">site for research on manuscripts of<br>Christian apocrypha and parabiblica</h2>
		</div>
	</div>
</div>
<div class="w-100 bg-grey">
	<div class="row g-0">
		<div class="d-none d-md-flex col-6">
			<%= image_tag("how-to-left.png", class: "d-none d-md-block", style: "min-height: 300px") %>	
		</div>
		<div class="col col-md-6 p-5">
			<h1 class="static-page">Using Apocrypharius</h1>
			<h3 class="static-page">Manipulating columns</h3>	
			<p>All information on manuscripts, texts of apocrypha/parabiblica, and booklists is presented in a series of grids, not unlike large spreadsheets. The grids consist of columns and rows and are highly flexible.<br>For instance, columns can be: </p>
			<ul>
				<li>resized (by dragging the boundary) or autosized (through the menu icon beside the column label)</li>
				<li>moved (by holding and dragging)</li>
				<li>pinned to the left or right (through the menu icon)</li>
				<li>included or hidden (by clicking the appropriate box on the list of columns; that list is available through the menu icon or through the side panel) </li>
			</ul>
		</div>
	</div>
</div>
<div class="w-100 bg-blue">
	<div class="container py-5">
		
		<div class="row my-5">
			<div class="col-6 px-5">
				<h3 class="static-page">Filtering and search functions</h3>	
				<p>Filtering (searching) can be done either through the menu icon beside the column label or through the side panel.</p>
				<p>The global search function returns the rows that contain the requested string no matter whether that string occurs in the included or hidden columns.</p>
				<h3 class="static-page">Exploring the grid</h3>
				<p>Because of their large size, the grids are best explored through pre-built or custom-built views that pre-select columns to be displayed and filters to be activated. For example, the pre-build views of the most complex grid, APOCRYPHA IN MANUSCRIPTS, include:</p>
				<ul>
					<li>Start with apocrypha view, which focuses on apocrypha/parabiblica in manuscripts, especially on their identification and description. In this view, all information is grouped on ‘Standard Latin title.’</li>
					<li>Start with manuscripts view, which focuses on manuscripts themselves rather than apocrypha. In this view, all information is grouped on ‘Ms. reference name.’</li>
				</ul>
			</div>
			<div class="col-6 px-5">
				<ul>
					<li>Origins and provenances view, which allows to filter the grid for names of people, institutions, and places associated with manuscripts containing apocrypha. In this view, all information is grouped on ‘Ms. reference name.’</li>
					<li>Titles, incipits, explicits, colophons view, which allows to filter the grid for textual features. In this view, all information is grouped on ‘Standard Latin title.’</li>
				</ul>
				<p>When moving from one pre-set view to another, users can either port the filters used in the first view (for example, to preserve the found records) or load the filters associated with the new view.</p>
				<p>Each manuscript, each apocryphal and non-apocryphal text, and each identified section of an apocryphal text appears in the APOCRYPHA IN MANUSCRIPTS grid as a separate row. Those separate rows may be grouped under a single master row: clicking on the > sign in the master row will reveal all grouped rows. One can also reveal all grouped rows by clicking the Expand all rows button. The number of grouped rows is indicated by a numeral in parentheses.</p>
			</div>
		</div>
	</div>
</div>
<div class="w-100 bg-grey">
	<div class="row g-0">
		<div class="col-6 p-5">
			<h3 class="static-page">Customizing and creating views</h3>
			<p>Users can freely add columns and filters to the pre-set views. They can then click on Save grid config. and have their customized view available to them next time they log in.  If they want to return to the original settings of the pre-set view, they can click on the appropriate button, and the original filters of the pre-set view will be restored.</p>
			<p>Users can also create their own views by starting with the blank grid and selecting the columns and filters they need. They can then click on Save grid config. and have their custom view available to them next time they log in. </p>
			<p>Bibliographic information relating to manuscripts, apocryphal/parabiblical texts, and booklists has not been included in the grid. That information is available on the full description of each manuscript or booklist and is accessible through the Ms. full descr. link embedded in the grid. Additional links direct users to digital reproductions and to other online databases.</p>

		</div>
		<div class="col-6">
			<%= image_tag("how-to-right.png", class: "d-none d-md-block", style: "min-height: 500px") %>	
		</div>
	</div>
</div>
