<div class="breadcrumbs">
  <%= link_to "Home", root_path %>
  <i class="far fa-chevron-right"></i>
  <%= link_to 'Modern Sources', modern_sources_path %>
  <i class="far fa-chevron-right"></i>
  <%= @modern_source.display_name %>
</div>

<div class="d-flex mt-2">
  <div class="w-100">
    <h1>Bibliographic item</h1>
    <%= render "form", modern_source: @modern_source %>
  </div>
</div>
