<div class="breadcrumbs">
  <%= link_to "Home", root_path %>
  <i class="far fa-chevron-right"></i>
  Bibliography
</div>

<h1>Bibliography <%= button_to 'New bibliographic item', modern_sources_path, class: "btn btn-action", params: { modern_source: { publication_title_orig: "" } } %></h1>

<div id="modern_sources">
    <%= render 'grid', modern_sources: @modern_sources %>
</div>
