<h1>Editing manuscript</h1>

<%= render "form", manuscript: @manuscript %>

<br>

<div>
  <%= link_to "Show this manuscript", @manuscript %> |
  <%= link_to "Back to manuscripts", manuscripts_path %>
</div>
