<div class="breadcrumbs">
  <%= link_to "Home", root_path %>
  <i class="far fa-chevron-right"></i>
  Manuscripts
</div>

<h1>Manuscripts</h1>
<%= button_to 'New manuscript', manuscripts_path, class: "btn btn-outline-success mb-2", params: { manuscript: { identifier: "" } } %>

<div id="manuscripts">
    <%= render 'grid', manuscripts: @manuscripts %>
</div>
