<div class="breadcrumbs">
  <%= link_to "Home", root_path %>
  <i class="far fa-chevron-right"></i>
  Manuscripts
</div>

<h1>Manuscripts</h1>
<p><%= link_to "New manuscript", new_manuscript_path, class: "btn btn-outline-success" %></p>

<div id="manuscripts">
    <%= render 'grid', manuscripts: @manuscripts %>
</div>
