<div class="breadcrumbs">
  <%= link_to "Home", root_path %>
  <i class="far fa-chevron-right"></i>
  <%= link_to 'Manuscripts', manuscripts_path %>
  <i class="far fa-chevron-right"></i>
  <%= @manuscript.display_name %>
</div>

<div>
  <h1 id="page-title">Manuscript</h1>
  <%= render @manuscript %>
</div>
