<h1>Editing source url</h1>

<%= render "form", source_url: @source_url %>

<br>

<div>
  <%= link_to "Show this source url", @source_url %> |
  <%= link_to "Back to source urls", source_urls_path %>
</div>
