<div class="modal fade" id="move-ownership-<%= ownership.id %>" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Move provenance</h5>
				<button type="button" class="btn btn-outline-action" data-bs-dismiss="modal">Cancel</button>
			</div>
			<div class="modal-body">
				<% ownership.manuscript.booklets.each do |booklet| %>
					<div class="card grey mb-3">
						<div class="card-body d-flex justify-content-between">
							<%= booklet.display_name %>
							<%= button_to "Move here", ownership_path(ownership), class: "btn btn-action", params: { ownership: { booklet_id: booklet.id, manuscript_id: '' }, moved_to_booklet: true }, method: :put %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>


