<div class="breadcrumbs">
  <%= link_to "Home", root_path %>
  <i class="far fa-chevron-right"></i>
  Locations
</div>

<h1>Locations<button type="button" class="btn btn-action mt-0" data-bs-toggle="modal" data-bs-target="#modal-location-modal">New location</button></h1>

<div id="locations">
  <%= render 'grid', locations: @locations %>
</div>

<%= render 'locations/modals/form', location: Location.new, parent: nil, pid: '', depth: 0 %>
