<div class="fixed-bottom justify-content-end d-flex w-100 pb-3 pe-3" style="z-index: 0">
	<% if local_assigns[:save_and_new] %>
		<%= form.submit "Save & New", class: "btn btn-action px-3 me-3", onclick: "$('##{save_and_new}').click();" %>
	<% end %>
	<% if params[:old_path].present? %>
		<%= hidden_field_tag 'old_path', params[:old_path] %>
		<%= form.submit "Save & Back", class: "btn btn-action px-5"%>
	<% else %>
		<%= form.submit "Save now", class: "btn btn-action px-5"%>
	<% end %>
</div>