<h1>Editing booklist section</h1>

<%= render "form", booklist_section: @booklist_section %>

<br>

<div>
  <%= link_to "Show this booklist section", @booklist_section %> |
  <%= link_to "Back to booklist sections", booklist_sections_path %>
</div>
