<div class="breadcrumbs">
  <%= link_to "Research", research_path %>
  <i class="far fa-chevron-right"></i>
  Apocrypha in booklists
</div>
<h1>Apocrypha in booklists</h1>

<div id="booklist_sections">
    <%= render 'grid', booklist_sections: @booklist_sections %>
</div>
